repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: forbid-yaml-extension
        name: Forbid .yaml files (use .yml instead)
        entry: '.yaml files are not allowed. Please use .yml extension instead.'
        language: fail
        files: 'datasets/.*\.yaml$'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-check
        args: ['--fix']
      - id: ruff-format
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.1
    hooks:
      - id: mypy
        # Don't run isolated but use the activated venv. Not perfect but better than re-declaring all deps here
        language: system
        exclude: |
          (?x)^(
          zavod/zavod/tests|
          contrib/|
          .pywikibot/|
          datasets/|
          )
        args: ['--strict']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.1
    hooks:
      - id: mypy
        name: mypy-datasets
        # Don't run isolated but use the activated venv. Not perfect but better than re-declaring all deps here
        language: system
        files: "datasets/"
        exclude: |
          (?x)^(
          datasets/_analysis|
          datasets/_collections|
          datasets/_externals|
          datasets/_global|
          datasets/_testing|
          datasets/_wikidata|
          datasets/ae|
          datasets/am|
          datasets/ar|
          datasets/at|
          datasets/ba|
          datasets/be|
          datasets/bg/jud_declarations|
          datasets/bh|
          datasets/br|
          datasets/ca|
          datasets/ch|
          datasets/cl|
          datasets/cn|
          datasets/co|
          datasets/cy|
          datasets/cz|
          datasets/ee|
          datasets/eu|
          datasets/gb/coh|
          datasets/gb/fca_firds|
          datasets/gb/fcdo_sanctions|
          datasets/gb/nca_most_wanted|
          datasets/gb/nca_press_releases|
          datasets/hk|
          datasets/id|
          datasets/il/knesset_members|
          datasets/il/mod_crypto|
          datasets/in|
          datasets/ir|
          datasets/jp|
          datasets/kg|
          datasets/kp|
          datasets/ky|
          datasets/kz|
          datasets/li|
          datasets/lt|
          datasets/lu|
          datasets/mc|
          datasets/md|
          datasets/me|
          datasets/mx|
          datasets/my|
          datasets/ng|
          datasets/nl|
          datasets/no/nbim_exclusions|
          datasets/np|
          datasets/nz|
          datasets/ph|
          datasets/pk|
          datasets/pl|
          datasets/qa|
          datasets/ro|
          datasets/rs|
          datasets/ru|
          datasets/sg|
          datasets/si|
          datasets/sk/rpvs|
          datasets/th|
          datasets/tj|
          datasets/tr|
          datasets/tw|
          datasets/ua|
          datasets/us/sc/med_exclusions|
          datasets/us/cia_world_leaders|
          datasets/us/sec_pause|
          datasets/us/ice_wanted|
          datasets/us/irs_ffi|
          datasets/us/ga/med_exclusions|
          datasets/us/ms/med_exclusions|
          datasets/us/mt/med_exclusions|
          datasets/us/plum_book|
          datasets/us/mo/med_exclusions|
          datasets/us/state_terrorist_exclusion|
          datasets/us/ma/med_exclusions|
          datasets/us/ak/med_exclusions|
          datasets/us/ky/med_exclusions|
          datasets/us/klepto_hr_visa|
          datasets/us/al/med_exclusions|
          datasets/us/nh/med_exclusions|
          datasets/us/mn/med_exclusions|
          datasets/us/ofac/enforcement_actions|
          datasets/us/ofac/press_releases|
          datasets/us/mi/med_exclusions|
          datasets/us/sec/pause|
          datasets/us/sec/harmed_investors|
          datasets/us/sec/litigation|
          datasets/us/cftc_enforcement_actions|
          datasets/us/occ_enfact|
          datasets/us/co/med_exclusions|
          datasets/us/ca/med_exclusions|
          datasets/us/ia/med_exclusions|
          datasets/us/ddtc_enforcements|
          datasets/us/wv/med_exclusions|
          datasets/us/ddtc_debarred|
          datasets/us/fbi_most_wanted|
          datasets/us/sam_exclusions|
          datasets/us/nk_jointventures|
          datasets/us/state_dept|
          datasets/us/wy/med_exclusions|
          datasets/us/cia_world_factbook|
          datasets/us/fara_filings|
          datasets/us/pa/med_exclusions|
          datasets/us/fincen_msb|
          datasets/us/fbi_lazarus_crypto|
          datasets/us/nc/med_exclusions|
          datasets/us/special_leg|
          datasets/us/sec_litigation_releases|
          datasets/us/dod_chinese_milcorps|
          datasets/us/nd/med_exclusions|
          datasets/us/nj/med_exclusions|
          datasets/us/me/med_exclusions|
          datasets/us/ar/med_exclusions|
          datasets/us/nv/med_exclusions|
          datasets/us/dc/exclusions|
          datasets/us/cuba_sanctions|
          datasets/us/md/med_exclusions|
          datasets/us/ks/med_exclusions|
          datasets/us/ne/med_exclusions|
          datasets/us/hi/med_exclusions|
          datasets/us/de/med_exclusions|
          datasets/us/fdic_failed_banks|
          datasets/us/az/med_exclusions|
          datasets/us/ny/med_exclusions|
          datasets/us/hhs_exclusions|
          datasets/us/oh/med_exclusions|
          datasets/us/plural_legislators|
          datasets/us/fed_enforcements|
          datasets/us/trade_csl|
          datasets/us/or/med_exclusions|
          datasets/us/corpwatch|
          datasets/us/cbp_forced_labor|
          datasets/us/fcc_covered_list|
          datasets/us/dhs_uflpa|
          datasets/us/fda_restricted|
          datasets/us/la/med_exclusions|
          datasets/us/congress|
          datasets/us/bis_oac|
          datasets/us/bis_denied|
          datasets/us/state_terrorist_orgs|
          datasets/us/fincen_special_measures|
          datasets/us/dea_fugitives|
          datasets/us/ss_wanted|
          datasets/us/wa/med_exclusions|
          datasets/us/tn/med_exclusions|
          datasets/us/navy|
          datasets/uy|
          datasets/ve|
          datasets/xk|
          datasets/za
          )
        args: ['--strict', '--explicit-package-bases']
#  - repo: local
#    hooks:
#      - id: nextjs-lint
#        name: ESLint
#        entry: bash -c "cd ui && npx eslint"
#        language: system
#        files: '^ui/'
#        pass_filenames: false
