---
layout: default
title: Open-source data for due diligence
description: >
  OpenSanctions is a database of persons and companies of political, criminal,
  or economic interest. We combine sanctioned entities, politically exposed
  persons, and other public information.
---

<div class="section header">
  <div class="container">
    <h1>OpenSanctions</h1>
    <p>
      OpenSanctions is a global database of <strong>persons and companies of
      political, criminal, or economic interest</strong>. It combines sanctions
      lists, databases of politically exposed persons, and other public
      information into a single, easy-to-access dataset.
    </p>

    <ul>
      <li>
        Cross-check leaks and public databases for possible conflicts of interests
        and signs of illicit activity.
      </li>
      <li>
        Track political conflicts and compare world-wide sanctions policies.
      </li>
      <li>
        Check potential customers and partners in international dealings.
      </li>
    </ul>

    <div class="actions">
      <a data-scroll href="#downloads">
        <i class="fa fa-address-book" aria-hidden="true"></i>
        Get the data
      </a>
      <a data-scroll href="#faq">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        Learn more
      </a>
    </div>
  </div>
</div>

<div class="section downloads" id="downloads">
  <div class="container">
    {% include downloads.html %}
  </div>
</div>

<div class="section faq" id="faq">
  <div class="container">
    {% include faq.html %}
  </div>
</div>
