git+https://github.com/occrp/countrynames
git+https://github.com/pudo/fingerprints
git+https://github.com/pudo/normality

unicodecsv
jsonschema
dataset
requests
thready
lxml
xlrd
XlsxWriter
csvkit
six
