name: ch_seco_sanctions
description: "[OSANC] Swiss SECO Sanctions/Embargoes"
schedule: daily
pipeline:
  init:
    method: seed
    params:
      url: 'https://www.sesam.search.admin.ch/sesam-search-web/pages/downloadXmlGesamtliste.xhtml?lang=en&action=downloadXmlGesamtlisteAction'
    handle:
      pass: fetch
  fetch:
    method: fetch
    handle:
      pass: parse
  parse:
    method: opensanctions.crawlers.ch_seco_sanctions:seco_parse
aggregator:
  method: balkhash.memorious:aleph_bulkpush
