name: eu_meps
description: "[OSANC] Members of the European Parliament"
schedule: daily
pipeline:
  init:
    method: seed
    params:
      url: 'http://www.europarl.europa.eu/meps/en/full-list/xml'
    handle:
      pass: fetch
  fetch:
    method: fetch
    handle:
      pass: parse
  parse:
    method: opensanctions.crawlers.eu_meps:parse
