---
---

$font-family: 'Open Sans', sans-serif;
$font-base-size: 18px;

$color-theme-1: #313732;
$color-theme-2: #8AA8B0;
$color-theme-3: #DEDEDE;
$color-theme-4: #FFFFFF;
$color-theme-5: #F26101;

body {
  font-family: $font-family;
  font-size: $font-base-size;
  line-height: 1.7em;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

ul {
  li {
    margin-top: 0.4em;
  }
}

.container {
  max-width: 750px;
}

.section {
  padding-top: 2 * $font-base-size;
  padding-bottom: 2 * $font-base-size;

  h2 {
    margin-bottom: 1.5em;
  }

  &.header {
    /*
    background: url(/images/saddam.png);
    background-cover: cover;
    background-size: 100%;
    background-position: 50%;
    */
    background-color: $color-theme-1;
    // color: $color-theme-3;
    color: white;

    h1 {
      text-align: center;
      // display: inline-block;
      font-size: 4em;
      margin: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      // background: black;
      padding: 0.1em;
      color: $color-theme-5;
    }

    .actions {
      text-align: center;
      padding-top: 2em;
      padding-bottom: 2em;

      a {
        background-color: $color-theme-5;
        font-weight: bold;
        color: $color-theme-4;
        padding: 1em;
        margin: 0.5em;

        i {
          margin-right: 0.5em;
        }

        &:hover {
          text-decoration: none;
          background-color: darken($color-theme-5, 10%);
        }
      }
    }
  }

  &.downloads {
    background-color: $color-theme-4;
    color: $color-theme-1;

    h3 {
      margin-top: 1.5em;
    }

    .download {
      h4 {
        i {
          color: $color-theme-5;
          margin-right: 0.5em;
        }
      }

      margin-bottom: 0.5em;
      margin-top: 1.5em;

      th {
        width: 7em;
      }

      th, td {
        vertical-align: top;
      }

      a {
        color: $color-theme-2;
      }
    }
  }

  &.faq {
    background-color: $color-theme-1;
    color: white;

    p {
      margin-bottom: 1em;
    }

    h4 {
      padding-top: 1em;
    }
  }
}

footer {
  $footer-fg-color: #fff;
  $footer-bg-color: #000;
  background-color: $footer-bg-color;
  color: $footer-fg-color;

  padding-top: 3em;
  padding-bottom: 4em;

  a {
    color: $color-theme-2;
  }
}
