@import './variables.scss';

.searchBox {
    margin-bottom: 1em;
}

.card {
    margin-bottom: 1em;
}

.cardTitle {
    a {
        color: inherit !important;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }
    }
}

.publisherDescription {
    margin-bottom: 0;
    padding-bottom: 0;
    color: $text-muted;
}

.viewTab {
    padding-top: 1em;
}

.tableHeader {
    width: 15%;
    white-space: nowrap;
}

.noWrap {
    white-space: nowrap;
}

.item {
    margin-bottom: 0.5em;
}

.itemHeader {
    font-weight: bold;
    color: inherit !important;
    display: block;
    text-decoration: none;
}

.itemDetails {
    @include clearfix;
    color: $text-muted;
    margin: 0;
}

.itemTargets {
    float: right;
}