
/* Bootstrap overrides */
@import "./variables.scss";
// $theme-colors: (
//     "primary": $primary,
//     "secondary": $highlight
// );

@import "~bootstrap/scss/bootstrap";

html {
    scroll-behavior: auto !important;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: $gray-700;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

blockquote {
    // color: $text-muted;
    display: block;
    padding-left: 0.8em;
    border-left: 0.2em solid $gray-300;
}

td.numeric, th.numeric {
    text-align: right;
}

.nav-item .nav-item {
    margin-left: 1.5em;
}

.card-group {
    margin-bottom: 1em;

    &.actions {
        .card-title {
            margin-bottom: 1em;
        }
    }
    
}


.bsIcon {
    // color: red !important;
    margin-top: -0.2em;
    // margin-right: 0.2em;
}

.text-body {
    max-width: $max-text-width;
    font-size: 1.1em;
    line-height: 1.4;

    li {
        line-height: 1.4;
        padding-bottom: 0.2em;
    }
}

// youtube embeds full-width:
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
    margin-bottom: 1em;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}