@import './variables.scss';
@import "~bootstrap/scss/badge";

.logo {
    margin-right: 2em;
    margin-top: 0.5em;
    max-width: 17em;

    @media (min-width: map-get($grid-breakpoints, md)) {
        float: right;
    }
}

.claimBanner {
    background-color: $primary;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.claimLink {
    color: white;

    &:hover {
        color: shift-color(white, $link-shade-percentage);
    }
}

.claim {
    color: white;
    font-size: 2em;
    max-width: 20em;
    line-height: 1.5;
    margin-bottom: 1em;
}

.subClaim {
    margin-bottom: 1em;
    font-size: 1.2em;
    color: $gray-100;
}

.explainer {
    margin-top: 2em;
}

.stats {
    margin-top: 1em;
}

.statsBadge {
    // color: $gray-700;
    color: white;
    // background-color: white !important;
    background-color: shift-color($primary, $link-shade-percentage) !important;
}