@import './variables.scss';
@import "~bootstrap/scss/mixins/_breakpoints";

.brand {
    font-weight: bold;
}

.navSearchBox {
    @include media-breakpoint-up(md) {      
        width: 20em !important;
    }
}

.sponsorCall {
    color: white;
    font-weight: bolder;
    // text-transform: uppercase;
    // background-color: $highlight;
    // border: 1px solid $highlight;

    &:hover {
        // background-color: shift-color($highlight, $link-shade-percentage);
        // border: 1px solid shift-color($highlight, $link-shade-percentage);
        color: whitesmoke;
    }
}

.sponsorIcon {
    margin-right: 0.3em;
    margin-top: -2px;
}

.navItem {
    margin-right: 1em;
    // text-transform: uppercase;
    font-weight: bolder;
}