@import './variables.scss';

// main search
.searchBox {
    margin-bottom: 0.2em;
}

.searchNotice {
    color: $text-muted;
    font-size: 0.9em;
}


// results
.resultList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resultTitle {
    font-size: 1.2em;
    font-weight: bold;
    a {
        text-decoration: none;
    }
}

.resultDetails {
    color: $text-muted;
}

// search facets
.facet {
    margin-bottom: 1em;
}

.facetHeader {
    font-weight: bold;
}

.facetCount {
    float: right;
    // color: $text-muted;
}

.facetLabel {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}