{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            // This is the main debug configuration for the Zavod project
            // to use it you can copy it over to your own launch.json file
            // and then select it from the debug menu while viewing a
            // crawlers .YAML file.
            "name": "Debug: Crawl of current .YAML",
            "type": "debugpy",
            "request": "launch",
            "program": "${workspaceFolder}/zavod/zavod/debug_cli.py",
            "console": "integratedTerminal",
            "args": ["crawl", "-c", "${file}"]
        },
    ]
}