---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} - OpenSanctions.org</title>
    <meta name="description" content="{{page.description}}" />
    <meta name="keywords" content="sanctions pep persons interest terrorists criminals politicans fiu financial intelligence" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/assets/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://assets.pudo.org/img/favicon.ico">
  </head>
  <body>
    <div id="airlock">
      {{ content }}
    </div>

    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/11.0.2/js/smooth-scroll.min.js"></script>
    <script>
      smoothScroll.init({
        speed: 500,
        // offset: 0,
        easing: 'easeInOutCubic'
      });
    </script>
  </body>
</html>
