name: build

on:
  workflow_dispatch: {}
  push: {}
  pull_request: {}
  schedule:
    - cron: "30 0 * * *"

permissions:
  packages: write
  id-token: write


jobs:
  python:
    env:
      OPENSSL_CONF: "contrib/openssl.cnf"

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "pip"
      - name: Install system dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get update
          sudo apt-get install -y -qq libicu-dev poppler-utils
      - name: Install zavod dependencies
        working-directory: zavod
        run: |
          python -m pip install --upgrade pip wheel
          pip install --no-cache-dir -q -e ".[dev,dspy]"
          pip freeze
      - name: Test crawlers with tests
        run: pytest datasets
      - name: Check zavod type annotations (strict)
        working-directory: zavod
        run: |
          make typecheck
      - name: Check zavod ruff lint
        working-directory: zavod
        run: |
          make lint
      - name: Run zavod tests
        working-directory: zavod
        run: |
          make test
      - name: Build a zavod distribution
        working-directory: zavod
        run: |
          python3 -m build --wheel
      - name: Get any modified dataset files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891  # v47.0.1
        with:
          files: "datasets/**"
      - name: Crawl modified datasets
        if: ${{ steps.changed-files.outputs.all_changed_files != '' }}
        run: |
          set -euo pipefail
          datasets=$(python contrib/ci_datasets.py ${{ steps.changed-files.outputs.all_changed_files }})
          echo "$datasets"
          for dataset in $datasets
          do
              echo Crawling $dataset
              zavod crawl -c $dataset
          done
      - name: Validate modified datasets
        if: ${{ steps.changed-files.outputs.all_changed_files != '' }}
        run: |
          set -euo pipefail
          datasets=$(python contrib/ci_datasets.py ${{ steps.changed-files.outputs.all_changed_files }})
          for dataset in $datasets
          do
              echo Validating $dataset
              zavod validate -c $dataset
          done
      - name: Export modified datasets
        if: ${{ steps.changed-files.outputs.all_changed_files != '' }}
        run: |
          set -euo pipefail
          datasets=$(python contrib/ci_datasets.py ${{ steps.changed-files.outputs.all_changed_files }})
          for dataset in $datasets
          do
              echo Exporting $dataset
              zavod export -c $dataset
          done
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        # working-directory: zavod
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/zavod')
        with:
          skip-existing: true
          packages-dir: zavod/dist

  docker:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [python]
    steps:
      - uses: actions/checkout@v6
      - name: Set build date
        run: echo "BUILD_DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push release
        uses: docker/build-push-action@v6
        env:
          BUILD_DATE: ${{ env.BUILD_DATE }}
        with:
          context: .
          pull: true
          push: true
          tags: ghcr.io/opensanctions/opensanctions:latest
          build-args: |
            BUILD_DATE=${{ env.BUILD_DATE }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  dispatch:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [docker, python]
    steps:
      - name: Dispatch add-on build
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697  # v3
        with:
          token: ${{ secrets.OPERATIONS_PAT }}
          repository: opensanctions/operations
          event-type: build-etl
