name: eu-journal

on:
  workflow_dispatch: {}
  schedule:
    - cron: "15 6,8,9,10,12,14,16,18,20 * * *"

jobs:
  check_eu_journal:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      - name: Install zavod
        run: |
          pip install setuptools wheel
          pip install --no-cache-dir -q -e "zavod[dev]"
          pip install zeep==4.2.1
      - uses: actions/checkout@v4
        with:
          repository: opensanctions/eu_journal
          ref: 'main'
          token:  "${{ secrets.EU_JOURNAL_PAT }}"
          path: eu_journal
      - name: set up the repository
        working-directory: eu_journal
        run: |
          git config user.name "EU Journal Bot"
          git config user.email "184417265+eu-journal-bot@users.noreply.github.com"
      - name: Check for EU Journal updates
        env:
          EURLEX_WS_USERNAME: "${{ secrets.EURLEX_WS_USERNAME }}"
          EURLEX_WS_PASSWORD: "${{ secrets.EURLEX_WS_PASSWORD }}"
          EU_JOURNAL_SEEN_PATH: "${{ github.workspace }}/eu_journal/seen.txt"
          EU_JOURNAL_HEARTBEAT_URL: "${{ secrets.EU_JOURNAL_HEARTBEAT_URL}}"
          SLACK_WEBHOOK_URL: "${{ secrets.EU_JOURNAL_SLACK_WEBHOOK_URL }}"
        run: |
          python contrib/eu_journal_updates.py --slack --update-seen
          curl "$EU_JOURNAL_HEARTBEAT_URL"
      - name: Commit and push changes, if any
        working-directory: eu_journal
        run: |
          git update-index --refresh || \
            (git add seen.txt && git commit -m "Update seen.txt")
          git push --verbose origin main
